<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PickMeal.PickMeal.mapper.UserMapper">
    <insert id="save" parameterType="PickMeal.PickMeal.domain.User">
        INSERT INTO user (
        id, password, nickname, name, email, birthDate, gender,
        phoneNumber, likeMenu, disLikeMenu, role, status,
        socialLoginSite, socialId
        ) VALUES (
        #{id}, #{password}, #{nickname}, #{name}, #{email}, #{birthDate}, #{gender},
        #{phoneNumber}, #{likeMenu}, #{disLikeMenu}, #{role}, #{status},
        #{socialLoginSite}, #{socialId}
        )
    </insert>

    <select id="findById" resultType="PickMeal.PickMeal.domain.User">
        SELECT * FROM user WHERE id = #{id}
    </select>

    <select id="countByNickname" parameterType="String" resultType="int">
        SELECT COUNT(*)
        FROM user
        WHERE UPPER(TRIM(nickname)) = UPPER(TRIM(#{nickname}))
    </select>

    <update id="edit" parameterType="PickMeal.PickMeal.domain.User">
        UPDATE user
        SET
        password = #{password},
        nickname = #{nickname},
        email = #{email},
        phoneNumber = #{phoneNumber},
        likeMenu = #{likeMenu},
        disLikeMenu = #{disLikeMenu}
        WHERE user_id = #{user_id}
    </update>

    <update id="updateStatus">
        UPDATE user
        SET status = #{status}
        WHERE user_id = #{user_id}
    </update>

    <select id="getMixedFoods" resultType="PickMeal.PickMeal.domain.Food">
        SELECT * FROM food
        WHERE category IN
        <foreach item="type" collection="types" open="(" separator="," close=")">
            #{type}
        </foreach>
        ORDER BY RAND()
        LIMIT #{round}
    </select>

    <select id="getTop10Foods" resultType="PickMeal.PickMeal.domain.Food">
        SELECT * FROM food
        ORDER BY winCount DESC
        LIMIT 10
    </select>

    <update id="updateWinCount">
        /* [비유] food 테이블에서 foodId가 일치하는 음식을 찾아 winCount를 1 올립니다. */
        UPDATE food
        SET winCount = winCount + 1
        WHERE foodId = #{foodId}
    </update>



</mapper>