<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PickMeal.PickMeal.mapper.BoardMapper">
    <select id="findBoardAll" resultType="PickMeal.PickMeal.domain.Board">
        SELECT b.boardId, b.title, b.content, b.user_id, b.createDate, b.updateDate, b.viewCount, b.likeCount, b.commentCount, u.nickname
        FROM board b
        JOIN user u ON b.user_id = u.user_id
        ORDER BY b.boardId DESC
        LIMIT #{offset}, #{pageSize}
    </select>
    <select id="countBoard" resultType="int">
        SELECT COUNT(*) FROM board
    </select>
    <insert id="writeBoard" parameterType="PickMeal.PickMeal.domain.Board" useGeneratedKeys="true" keyProperty="boardId">
            INSERT INTO board(user_id, title, content, createDate, likeCount, dislikeCount, viewCount)
            VALUES(#{user_id}, #{title}, #{content}, NOW(), 0, 0, 0)
    </insert>
    <delete id="removeBoard" parameterType="long">
        DELETE FROM board
        WHERE boardId = #{boardId}
    </delete>
    <select id="getBoardIdByUser_id" parameterType="long" resultType="long">
        SELECT boardId
        FROM board
        WHERE user_id = #{userId}
    </select>
    <select id="getBoardByBoardId" parameterType="long" resultType="PickMeal.PickMeal.domain.Board">
        SELECT b.boardId, b.title, b.content, b.user_id, b.createDate, b.updateDate, b.viewCount, b.likeCount, b.commentCount, u.nickname
        FROM board b
        JOIN user u ON b.user_id = u.user_id
        WHERE b.boardId = #{boardId}
    </select>
    <update id="editBoard" parameterType="PickMeal.PickMeal.domain.Board">
        UPDATE board
        SET title = #{title}, content = #{content}, updateDate = NOW()
        WHERE boardId = #{boardId}
    </update>
    <update id="updateViewCount" parameterType="long">
        UPDATE board
        SET viewCount = viewCount + 1
        WHERE boardId = #{boardId}
    </update>
</mapper>