<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PickMeal.PickMeal.mapper.QuestionsMapper">
    <select id="getFinalQuestion" resultType="String">
        SELECT question_text FROM questions WHERE attribute_name = 'final_recommendation';
    </select>
    <select id="getNextValidQuestion" resultType="PickMeal.PickMeal.domain.Questions" parameterType="java.util.List">
        SELECT question_id, question_text, attribute_name
        FROM questions
        WHERE question_id NOT IN
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
    <select id="getQuestionsByAttributeName" resultType="PickMeal.PickMeal.domain.Questions" parameterType="String">
        SELECT question_id, question_text, attribute_name
        FROM questions
        WHERE attribute_name = #{attributeName}
    </select>
</mapper>