<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PickMeal.PickMeal.mapper.RestaurantMapper">

    <select id="findAllRestaurants" resultType="PickMeal.PickMeal.dto.RestaurantDTO">
        SELECT
        res_id AS restId,
        res_name AS restName,
        address AS restAddress,
        representative_menu AS restMenu,
        menu_price AS restPrice,
        lat AS restLat,
        lon AS restLng,   rest_views AS restViews
        FROM restaurant
    </select>

    <select id="findAll" resultType="PickMeal.PickMeal.dto.RestaurantDTO">
        SELECT
        res_id AS restId,
        res_name AS restName,
        address AS restAddress,
        representative_menu AS restMenu,  menu_price AS restPrice,
        lat AS restLat,
        lon AS restLng,
        rest_views AS restViews,
        (SELECT COUNT(*) FROM review_wish WHERE res_id = r.res_id AND is_wish = 1) AS wish_count
        FROM restaurant r
    </select>

    <update id="updateViewCount">
        UPDATE restaurant
        SET rest_views = rest_views + 1
        WHERE res_id = #{resId}
    </update>

</mapper>