<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PickMeal.PickMeal.mapper.FoodMapper">

    <select id="getFoodList" resultType="FoodDTO">
        SELECT
        foodId,
        foodName,
        category,
        imagePath
        FROM food
    </select>

    <select id="getRandomFood32" resultType="FoodDTO">
        SELECT
        foodId,
        foodName,
        category,
        imagePath
        FROM food
        ORDER BY RAND()
        LIMIT 32
    </select>

</mapper>